.parent {
    -fx-background-color: white;
}
.sidebar {
    -fx-background-image: url("/resources/images/background_purple.png");
    -fx-background-color: #6747CD;
}
.white-sidebar {
    -fx-background-image: url("/resources/images/background_white.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
.forgetBtn {
    -fx-text-fill: #a3a3a3; 
}
.loginBtn {
    -fx-background-color: #6747CD;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3px;
}
.loginBtn:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #6747CD;
    -fx-background-radius: 3px;
    -fx-border-color: #6747CD;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
}
.signupLbl {
    -fx-cursor: HAND;
}
.closeBtn {
    -fx-fill: #545454;
}
.closeBtn:hover {
    -fx-fill: #ff6666;
}
.backBtn {
    -fx-fill: #545454;
}
.backBtn:hover {
    -fx-fill: #6747CD;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: #131313;
    -fx-border-width: 0.5px;
 }

 /*Style of entire tableView when is getting focused*/
.table-view:focused{
    -fx-background-color: transparent;
}



/*Style of each column header in the tableView*/
.table-view .column-header {
     -fx-background-color: transparent;
} 

/*Style of each column header's background in the tableView*/
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

 /*Style of each column header's label  in the tableView*/
.table-view .column-header-background .label{
     -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

/*Style of each column in the tableView*/
.table-view .table-column{
    -fx-alignment:center;
    -fx-font-size:9px;
}

 /*Style of each table cell*/
.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:9px;
    /* -fx-text-fill:orange; */

}

.playlistsContainer {
-fx-background-radius: 30;
-fx-border-radius: 30;
-fx-border-width:2;
-fx-border-color:gray;
}

.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.playlistImg {
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    opacity: 0.5;
}

.playlistImg:hover {
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    opacity: 1;
}

.scroll-inside {
    -fx-background-color: #c0b3ea;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
    overflow-y: scroll;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
    overflow-y: scroll;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
    overflow-y: scroll;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
    overflow-y: scroll;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
    overflow-y: scroll;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
    overflow-y: scroll;
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
    overflow-y: scroll;
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
    overflow-y: scroll;
}

/* Right Arrow */    
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
    overflow-y: scroll;
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
    overflow-y: scroll;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    overflow-y: scroll;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
    overflow-y: scroll;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
    overflow-y: scroll;
}